// |--------------------------------------------------------------------------
// | Accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin accordion-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------
.field__item.paragraph--type--os2web-accordion-wrapper {
  margin: 0 0 80px 0;
  & + .field__item.paragraph--type--os2web-accordion-wrapper {
    margin-top: 0;
  }
}

.accordion {
  & > li {
    margin-bottom: 0.5rem;
    background-color: transparent;

    .accordion-button {
      font-size: 2rem;
      padding: 25px 50px 25px 20px;
      font-weight: 700;
      background-color:  white;
      border: none;
      color: #00335b;
      border: 1px solid #ddd;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      background-position: right 1.6rem center;
      position: relative;
      background-image: none !important;

      &:after {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 26px;
        height: 26px;
        font-size: 1.8rem;
        font-family: FontAwesome;
        content: "\f067";
        color: #00325b;
      }


      &[aria-expanded="true"] {
        background-color: #00325b;
        color: white;

        &:after {
          content: '\f068';
          font-size: 1.8rem;
          color: white;
          font-family: FontAwesome;
        }
      }
    }
    .accordion-content {
      border: 1px solid #eceae8;
      border-top: 0;


      &.opened {
        display: block;
      }
    }
  }

}



.paragraph--type--os2web-accordion-item {

  .accordion-button {
    position: relative;
    font-size: 2rem;
    padding: 25px 50px 25px 20px;
    font-weight: 700;
    background-image: none !important;
    background-color:  white;
    border: none;
    color: #00335b;
    border: 1px solid #ddd;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    &:after {
      display: flex;
      position: absolute;

      align-items: center;
      justify-content: center;

      padding-top: 2px;

      top: 50%;
      transform: translateY(-50%);
      right: 20px;

      width: 26px;
      height: 26px;

      font-size: 1.8rem;
      font-family: FontAwesome;

      content: $fa-var-plus;

      color: #00335b;
    }
    &:focus {
      outline: 0;
    }
    &[aria-expanded="true"] { //accordion button is open
      background-color: #00335b;;
      color: white;

      &:after {
        content: $fa-var-minus;
        font-size: 1.8rem;
        color: white;
      }
    }
  }

  .accordion-content {
    border: 1px solid $gray-helper;
    border-top: 0;
    padding: 15px 20px;
    background-color: white;
    color: #00335b;
    overflow: hidden;
    display: none;
    p, li, span, h1, h2, h3, h4, h5, h6 {
      color: #00335b;
    }
    &.opened {
      display: block;
    }
    .field {

      + .field--name-field-os2web-hearings-reply-docs {
        margin-top: $grid-gutter-width / 2;
      }
    }
    .paragraph--type--os2web-pi {
      margin: 0 !important;
    }
    .paragraph--type--os2web-slideshow {
      margin-bottom: 15px !important;
    }
  }
}

.accordion-close-button {
  display: block;

  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -20px;
  padding: 20px 0 30px 0;

  font-weight: $font-weight-bold;
  font-size: 4rem;
  text-align: center;
  border: 0;

  color: $color-red-001;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.accordion {

  .box__body {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
