// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin box-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------


main.col-lg-8 {
  .fredericia-menu-link-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 40px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));

    }
    @media only screen and (max-width: 470px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .fredericia-menu-link__inner-wrapper {
      min-height: 175px;
      background-color: $background_color__default;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      position: relative;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
      transition: .3s ease;

      @media only screen and (max-width: 640px) {
        min-height: 100px;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);

      }


      &:hover .fredericia-box-arrow svg {
        opacity: 1;
        transform: translateX(0);
      }

      .fredericia-box-arrow {
        position: absolute;
        bottom: 0;
        right: 0;

        svg {
          fill: white;
          width: 35px;
          height: 35px;
          opacity: 0;
          transform: translateX(-20px);
          transition: .3s ease;
        }
      }

      .fredericia-box {
        .fredericia-box__body {
          padding: 0 15px;
          text-align: center;

          span {
            color: white;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            word-break: break-word;

            @media only screen and (max-width: 640px) {
              font-size: 14px;
            }
          }
          .intro-text {
            color: white;
            font-size: 13px;
            line-height: 1.4;
            margin-top: 5px;
            .field--name-field-os2web-page-intro {
              margin-bottom: 0;
              margin-top: 5px;
              p {
                color: white;
                font-size: 13px;
                line-height: 1.4;
              }
            }
          }
        }
      }


    }
  }
}

.fredericia-menu-link-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  margin-bottom: 40px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

  }
  @media only screen and (max-width: 470px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }

  .fredericia-menu-link__inner-wrapper {
    min-height: 175px;
    background-color: $background_color__default;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    box-shadow: 0 4px 24px hsl(0deg 0% 0% / 0.8);
    transition: .3s ease;
    color: white;

    &:visited {
      color: white;
    }

    @media only screen and (max-width: 640px) {
      min-height: 100px;
      box-shadow: 0 4px 10px hsl(0deg 0% 0% / 0.8);

    }


    &:hover .fredericia-box-arrow svg {
      opacity: 1;
      transform: translateX(0);
    }

    .fredericia-box-arrow {
      position: absolute;
      bottom: 0;
      right: 0;

      svg {
        fill: white;
        width: 35px;
        height: 35px;
        opacity: 0;
        transform: translateX(-20px);
        transition: .3s ease;
      }
    }

    .fredericia-box {
      .fredericia-box__body {
        padding: 0 15px;
        text-align: center;

        span {
          color: white;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          word-break: break-word;

          @media only screen and (max-width: 640px) {
            font-size: 14px;
          }
        }
        .intro-text {
          color: white;
          font-size: 13px !important;
          line-height: 1.4 !important;
          margin-top: 5px;

          .field--name-field-os2web-page-intro {
            margin-bottom: 0;
            margin-top: 5px;

            p {
              color: white;
              font-size: 13px;
              line-height: 1.4;
            }
          }
        }
      }
    }


  }
}


.box {
  text-decoration: none;
  &.text-align--left-text {
    text-align: left;
  }
  &.text-align--center-text {
    text-align: center;
  }
  &.text-align--right-text {
    text-align: right;
  }
  .box__heading {
    padding: 20px 20px;
    color: $color-black;

    .field--name-field-os2web-icon {
      img {
        width: 65px;
        height: 60px;
      }
    }
    .h4 {
      font-size: 2.4rem;
    }
  }
  .box__body {
    font-size: 1.6rem;
    color: $color-black;
    padding: 20px 20px;

    a {
      color: #2a5e6f;

      &:after {
        display: none !important;
      }
    }
  }
  .box__heading + .box__body {
    padding-top: 0;
  }
}

.field--name-field-os2web-files-media {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}




// Variants.
.box--section-link {
  min-height: 350px;
  margin: 0 -15px 14px -15px;

  .box__body {
    min-height: 40px;

    padding-top: 10px;
    padding-bottom: 10px;

    > a {
      position: relative;

      padding-right: 12px;

      font-weight: $font-weight-bold;

      &:after {
        display: inline-block;
        position: absolute;

        top: 50%;
        right: 0;

        margin-top: -12px;

        font-family: FontAwesome;
        content: $fa-var-angle-right;

        color: $color__bullets;
      }
    }
  }

  a {
    display: block;

    text-decoration: none;
  }

  ul {
    margin: 0 0 5px 0;

    li {
      list-style: none;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    a {
      font-size: $small-text;
    }
  }


}

.sidebar__box {
  background-color: white;

  .sidebar__box-heading {
    padding: 40px;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 140px;
      left: 0;
      bottom: 19px;
      background-color: #e2dddb;
    }
    h2 {
      font-size: 2.4rem;
      color: #00789e;
      font-weight: normal;
    }
  }
  .sidebar__box-body {
    padding: 0 40px 40px 40px;
  }
}


#block-indholdfield-ext-links {
  h2 {
    font-size: 2.4rem;
    color: #00789e;
    font-weight: normal;
    position: relative;
    padding: 40px;

    &:after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 140px;
      left: 0;
      bottom: 19px;
      background-color: #e2dddb;
    }
  }

  .field--name-field-selfbetjening-ref {
    padding: 0 40px 40px 40px;

    .field__item {
      a {
        padding-left: 35px;
        text-decoration: none;
        position: relative;
        color: black;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          top: -1px;
          left: 0;
          position: absolute;
          font-size: 2.4rem;
          font-family: "Material Icons";
          content: "keyboard_backspace";

          color: $color__bullets;

          transform: rotate(180deg);
        }
      }
    }
  }
}



// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  .box {
    box-shadow: none !important;

    .box__heading {
      padding: 0;
    }
    .box__body {
      padding: 0;
    }

  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
