.banner-content-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;

  .banner-content-links__inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    .banner-content-links {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 20px;

      @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      .banner-link {
        flex: 1;
        background-color: #00335b;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;

        @media only screen and (max-width: 992px) {
          flex: 1 1 100%;
          max-width: none;
        }



        a {
          color: white;
          font-size: 1.8rem;
          font-weight: 600;
          text-decoration: none;
          width: 100%;
          text-align: center;
          padding: 25px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .hidden-links {
      gap: 20px;
      grid-template-columns: repeat(4, minmax(0, 1fr));

      @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));

      }


      .banner-link {
        flex: 1;
        background-color: #00335b;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;

        @media only screen and (max-width: 992px) {
          flex: 1 1 40%;
          max-width: none;
        }

        @media only screen and (max-width: 536px) {
          flex: 1 1 100%;
        }

        a {
          color: white;
          font-size: 1.8rem;
          font-weight: 600;
          text-decoration: none;
          width: 100%;
          text-align: center;
          padding: 25px 10px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .show-more-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;

      .show-more-button {
        background-color: transparent;
        border: none;
        color: #0a2d49;
        font-size: 2rem;
        font-weight: 600;

        &:before {
          font-family: FontAwesome;
          margin-right: 10px;
        }
        &:hover span {
        text-decoration: underline;
        }
      }
    }
  }
}


