// |--------------------------------------------------------------------------
// | Pre header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .preheader
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin preheader-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.preheader {
  display: flex;

  justify-content: space-between;
  align-items: center;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;

    color: inherit;
  }

  a {
    position: relative;

    padding-left: 32px;

    font-weight: $font-weight-bold;

    color: inherit;

    &:before {
      position: absolute;

      top: 50%;
      left: 0;

      margin-top: -11px;

      display: inline-flex;

      align-items: center;
      justify-content: center;

      font-family: FontAwesome;
      content: $fa-var-angle-right;

      width: 22px;
      height: 22px;

      margin-right: 10px;

      text-decoration: none;
      border-radius: 20px;

      color: #fff;
      background-color: $color-primary;
    }
  }
}

.paragraph--type--os2web-wrapper {

  &.background-color--transparent {
    .paragraph--type--os2web-image-paragraph {

      a, h1, h2, h3, h4, h5, h6, p {
        color: #00335b !important;
      }
    }
  }

  &.background-color--primary {
    .paragraph--type--os2web-image-paragraph {

      p, h1, h2, h3, h4, h5, h6, a {
        color: white !important;
      }
    }
  }


  &.background-color--secondary {
  .paragraph--type--os2web-image-paragraph {

    p, h1, h2, h3, h4, h5, h6, a {
      color: white !important;
    }
  }
  }
  &.background-color--tertiary {
    .paragraph--type--os2web-image-paragraph {


      &, p, h1, h2, h3, h4, h5, h6, a {
        color: #00335b !important;
      }
    }

    .paragraph--type--os2web-news-block {
      &, p, h1, h2, h3, h4, h5, h6 {
        color: $color-text;
      }

      a {
        outline-color: $color-primary;

        &, &:active, &:visited, &:focus {
          color: $color-text;
        }
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
