.facets-widget-links {
  .item-list__links {
    border: 1px solid #ccc;

    li.facet-item {
      padding: 0;
      margin: 0;

      &:before {
        display: none;
      }

      a {
        background-color: white;
        width: 100%;
        padding: 11px;
        color: black;
        transition: .3s;

        &:hover {
          color: white;
          background-color: #c30a32;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }

        &.is-active {
          background-color: #c30a32;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
