@import "fonts";
@import "mixins/loader";
@import "variables/loader";
@import "vendor";

@import "overrides/loader";
@import "theme/loader";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

.embedded-entity {
  line-height: 0 !important;
}

.embedded-entity.align-left {
  padding-right: 10px;
}

.embedded-entity.align-right {
  padding-left: 10px;
}

#block-matomopagestatistics {
  background: white;
  margin-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  table {
    td {
      padding: 5px 15px 0px 15px;
    }
    td:nth-child(2) {
      text-align: right;
    }
  }
}

