// |--------------------------------------------------------------------------
// | Misc
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

body {
  background-color: #fff;
}

// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: 0;
  padding-right: 0;

  .field--name-field-os2web-paragraphs {
    .field__item {
      .paragraph--type--os2web-simple-text-paragraph {
        max-width: 1500px;
        padding: 0 25px;

        @media only screen and (max-width: 1200px) {
          max-width: 1000px;
          padding: 0 30px;
          margin: 0 auto;
        }

        @media only screen and (max-width: 992px)  {
          max-width: 700px;
          margin: 0 auto;
          padding: 0;
        }

        @media only screen and (max-width: 768px) {
          max-width: 100%;
          padding: 0 30px;
        }

        .field--name-field-os2web-simple-text-body {
          h1 {
            color: #00315b;
            margin-bottom: 15px !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}

.path-taxonomy {

  .sidebar-column {
    display: none !important;
  }
  .content-column {
    flex-basis: 100%;
    max-width: 100%;
  }
}


.layout-content {
  background-color: $color-white;
  padding-top: 0;
}

// Accessibility overrides.
button,
body a {

  &:focus {
    outline-width: 2px;
  }
}


//.paragraph a,
//.region-content a,
//.breadcrumb a {
//
//  &:focus {
//    outline-width: 2px;
//  }
//}

.region-content {
  padding-bottom: 40px;
}

svg.mailto {
  display: none !important;
}

.fields-inline {

  > .field {
    display: inline-block;
  }
}

svg.ext {
  display: none;
}

#views-exposed-form-os2web-meetings-search-os2web-meetings-embed-search-from-to-dates {
  margin-bottom: $grid-gutter-width / 2;
  padding: 30px;

  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(27, 27, 29, .2);
  background-color: #fff;

  .form-item-from-date,
  .form-item-to-date {
    max-width: 150px;
  }

  .form-select {
    margin-top: 8px;
  }

  .form-actions {
    margin-bottom: 0;

    text-align: right;
  }
}

body .page-container {
  padding-top: 0;
  padding-bottom: 0;
  &.page-container-front {
    margin-bottom: 10px;
    .paragraph--type--os2web-news-block {
      margin-top: 60px;
    }
  }
  &.page-container-not-front {
    margin-bottom: 0;
  }
}

.region-sidebar-second {

  > .box {
    margin-bottom: $grid-gutter-width;

    > .box__body {
      padding-top: 0;
      padding-bottom: 0;

      min-height: unset;
    }
  }
  .sidenav-list {
    & > li {
      background: none;
      border: none;
      & > a {
        padding: 25px 40px;
        font-size: 2rem;
        position: relative;
        display: block;
        color: #000;
        transition: all 0.3s ease;
        &:hover {
          color: $background_color__default;
          background-color: $gray-primary;
        }
        &:before {
            background-color: $background_color__default;
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            height: 40px;
            width: 40px;
            position: absolute;
            content: $fa-var-angle-right;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
  .block {
    // padding-top: $grid-gutter-width;
    // padding-bottom: $grid-gutter-width;

    &:first-child {
    }

    &:last-child {
    }
  }

  .block + .block {
    margin-top: $grid-gutter-width;
  }
}

//.path-frontpage {
//
//  .layout-sidebar-left,
//  .layout-sidebar-right {
//    display: none;
//  }
//}
.block-os2web-pagebuilder-related-links {

  ul.related-links {
    margin-block: 0;
    li {
      margin: 0;
    }
  }
}
.region-sidebar-second {
  .block-fieldblock {
    background-color: $color-white;
    padding: 0!important;
    h2 {
      padding: 40px 10px;
      font-size: 1.9rem;
      margin: 0;
      font-weight: 400;
      @include media-breakpoint-up(md) {
        padding: 40px;
        font-size: 2.4rem;
      }
      color: $color-black;
    }
    .field--name-field-link-til-andet-indhold,
    .field--name-field-ext-links {
      padding: 0 10px 30px 10px;
      @include media-breakpoint-up(md) {
        padding: 0 40px 30px;
      }
      a {
        padding: 25px 15px;
        font-size: 2rem;
        position: relative;
        display: block;
        color: $color-black;
        transition: all 0.3s ease;
        text-decoration: none;
        &:before {
          background-color: $background_color__primary;
          color: $color-white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          content: $fa-var-angle-right;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          height: 40px;
          width: 40px;
          position: absolute;
        }
        &:hover {
          background-color: $gray-primary;
          color: $background_color__primary;
        }
        &:focus {
          outline: 0;
        }
    }
    }
  }
}

.box__heading {
  h2 {
    padding: 0!important;
  }
}
.box__body {
  padding: 0 10px 30px 10px;
  @include media-breakpoint-up(sm) {
    padding: 0 20px 30px;
  }
  @include media-breakpoint-up(md) {
    padding: 0 40px 30px;
  }
}
.block-os2web-pagebuilder-related-links  {
  &.box {
    background-color: $color-white;
    padding: 0;
    .box__heading {
      padding: 40px 10px;
      @include media-breakpoint-up(md) {
        padding: 40px;
      }
      .h4 {
        font-size: 1.9rem;
        @include media-breakpoint-up(md) {
          font-size: 2.4rem;
        }
        color: $color-black;
      }
    }
    .box__body {
      padding: 0 10px 30px 10px;
      @include media-breakpoint-up(md) {
        padding: 0 40px 30px;
      }
      .related-links {
        padding: 0;
        display: flex;
        flex-direction: column;
        li {
          padding: 0;
          a {
            padding: 25px 15px;
            font-size: 2rem;
            position: relative;
            display: block;
            color: $color-black;
            transition: all 0.3s ease;
            &:before {
              background-color: $background_color__primary;
              color: $color-white;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              content: $fa-var-angle-right;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              height: 40px;
              width: 40px;
              position: absolute;
            }
            &:hover {
              background-color: $gray-primary;
              color: $background_color__primary;
            }
            &:focus {
              outline: 0;
            }

          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .box__heading {
    padding-top: 0;
    padding-bottom: 0;

    background-color: transparent;
  }
}


.block-os2web-contact {
  .region-sidebar-second & {
    padding-top: 0;
  }
}

.layout-sidebar-left,
.layout-sidebar-right {

  h1, h2, h3, h4, h5, h6 {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
.layout-sidebar-left,
.layout-sidebar-right,
// .layout-content
{
  padding-top: $grid-gutter-width;
}
.layout-sidebar-right {
  padding-top: 10px;
  @include media($sm) {
    padding-top: $grid-gutter-width;
  };
}
.layout-content.entity-teaser--os2web-event-wrapper {
  padding-top: 40px;
}
.os2web_contact {
  .field--name-field-os2web-contact-more {
    margin-bottom: 1rem;
  }
}
.layout-sidebar-right {
  .block-menu-block  {
  .sidenav-list {
    li {
      a {
        background-color: $color-white;
        &:hover {
          background-color: $gray-primary;
        }
      }
    }
  }
  }
  .os2web_contact {

    .field {

      + .field {
        //margin-top: 2.8rem; // Same distance as between <p> <p>
      }
    }

    .field--name-field-os2web-contact-heading,
    .field--name-field-os2web-contact-body {

      + .field {
        margin-top: 28px; // Same distance as between <p> <p>
      }
    }

    .field--name-field-os2web-contact-phone,
    .field--name-field-os2web-contact-email {

      &:before {
        display: inline-block;

        margin-right: 5px;
        width: 22px;

        font-family: FontAwesome;
      }
    }

    .field--name-field-os2web-contact-phone {

      &:before {
        content: $fa-var-phone;
      }
    }
    .field--name-field-os2web-contact-email {

      &:before {
        content: $fa-var-envelope-o;
      }
    }
  }

  > .box {

    > .box__body {
      padding-top: 0;
      padding-bottom: 0;

      > .region {

        > * {

          &:first-child {
            padding-top: 30px;
          }
          &:last-child {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

.path-frontpage {

  // .layout--hidden-on-sections {
  //   display: none !important;
  // }

  .field--name-field-os2web-simple-text-heading,
  .field--name-field-os2web-section-par-heading
  {

    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }
}



.button.button-primary {
  background-color: $background_color__default;
  border-color: $background_color__default;
  color: $color-white;
  transition: all 0.3s ease;
  &:hover {
    background-color: $background_color__secondary;
    border-color: $background_color__secondary;
  }
}
.button.button-secondary {
  background-color: $background_color__secondary;
  border-color: $background_color__secondary;
  color: $color-white;
  transition: all 0.3s ease;
  &:hover {
    background-color: $background_color__default;
    border-color: $background_color__default;
  }
}

.button--rounded {
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 30px;
}

.background-color--secondary {
  color: #fff !important;
  background-color: $background_color__secondary !important;
}
.background-color--tertiary {
  color: #fff !important;
  background-color: $background_color__tertiary !important;
}

// Remove max-width on all text elements.
body {

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6{
    max-width: unset;
  }
  p,
  ul:not(.accordion):not(.accordion-bordered):not(.nav-primary):not(.inline-list):not(.tabnav):not(.sidenav-list):not(.sidenav-sub_list),
  ol:not(.accordion):not(.accordion-bordered):not(.sidenav-list){
    max-width: unset;
  }
  .font-lead{
    max-width: unset;
  }

  .form-label, .form-hint, .form-error-message{
    max-width: unset;
  }
  .form-checkbox+label, .form-radio+label{
    max-width: unset;
  }
  a:not(.button){
    max-width: unset;
  }
}
a:not([class]) {
  text-decoration: none;
  color: $color__link;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
 }

.block-system-menu-blockmain.block-system {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.block-page-title-block {
  h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1;
  }
}


.caption figcaption {
  font-size: 0.8em !important;
}


// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  #views-exposed-form-os2web-meetings-search-os2web-meetings-embed-search-from-to-dates {

    .form-item-from-date,
    .form-item-to-date {
      max-width: 200px;
    }

    .form-type-select {
      margin-right: 0;
    }
  }
}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  body .page-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #sliding-popup {
    display: none !important;
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
