// |--------------------------------------------------------------------------
// | BorgerDK article
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--os2web-borgerdk-article
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraph--type--os2web-borgerdk-article-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--os2web-borgerdk-article {
  margin: 80px 0;

  .field--name-byline {
    margin-bottom: $grid-gutter-width / 2;
  }
  .field--type-os2web-borgerdk-article-reference {
    .field__item {
      .accordion {
        .has-selfservice-links {

          .selfservice-links {
            display: none;
          }
          .accordion-button {
            .field--name-title {
              max-width: 75%;
            }
          }
        }
      }
    }
  }
  .bdk-selfservice {
    margin: 25px 0;

    .show-more-button-selfservice {
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      background-color: transparent;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .field--name-pre-text {
    .field__item {
      h1 {
        margin: 0 0 2.8rem 0;
        color: #00335b;
      }

      h2, h3, h4, h5, h6, p {
        color: #00335b;
      }
    }
  }
  article {
    .field--name-header {
      .field__item {
        p {
          color: #00335b;
        }
      }
    }
  }
  .field--name-byline {
    .field__item {
      p {
        color: #00335b;
      }
    }
  }
  .field--name-post-text {
    .field__item {
      h1, h2, h3, h4, h5, h6, p {
        color: #00335b;
      }
    }
  }
}


.selvbetjening-borgerdk-link {
  background-color: transparent;
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid white;

  &:hover i {
    opacity: 1;
    transform: translateX(0);
  }
  &:hover .spotbox__content .field--name-title h3 {
    text-decoration: underline;
  }

  &:hover {
    color: white;
  }

  span {
    text-transform: uppercase;
  }
  .spotbox__content {
    .field--name-title {
      h3 {
        margin: 0;
        color: white;
        font-weight: normal;
      }
    }
  }
  i {
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0;
    transform: translateX(-10px);
    transition: .3s ease;
    font-size: 18px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
