.contact-template-wrapper {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &.bg-white {
    background-color: white;
  }

  &.bg-lightblue {
    background-color: #c4e3fe;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;

    .contact-template-heading {
      margin-bottom: 50px;
      h2 {
        margin: 0;
        color: #00325b;
        font-weight: 600;
      }
    }


    .inner-contact-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 992px) {
        flex-direction: column;
        gap: 50px;
      }

      .contact-col-1 {

        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 70%;

        &.no-col-2 {
          flex-direction: row;
          width: 100% !important;
          gap: 35px 10px !important;
          flex-wrap: wrap;

          @media only screen and (max-width: 768px) {
            flex-direction: column !important;
          }

        }

        @media only screen and (max-width: 992px) {
          width: 100%;
        }
        .contact-template-address {
          display: flex;
          gap: 20px;
          max-width: 90%;

          &.no-col-2-item {
            max-width: 100% !important;
            flex: 45%;
          }

          @media only screen and (max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .contact-template-icon {
            font-size: 32px;
            color: #00325b;
            i {
              width: 50px;

              @media only screen and (max-width: 992px) {
                width: auto;
              }
            }

          }
          .address-info {
            color: #00325b;
            .info-heading {
              margin-top: 0;
              font-size: 20px;
              font-weight: 600;
              color: #00325b;
              margin-bottom: 10px;

            }
            .info-content {

              @media only screen and (max-width: 992px) {
                text-align: center;
              }
              .field--name-field-contact-address {
                p, h1, h2, h3, h4, h5, h6, span {
                  color: #00335b;
                }
              }
            }
          }
        }

        .contact-template-phone {
          display: flex;
          gap: 20px;
          max-width: 90%;

          &.no-col-2-item {
            max-width: 100% !important;
            flex: 45%;
          }

          @media only screen and (max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .contact-template-icon {
            font-size: 32px;
            color: #00325b;

            i {
              width: 50px;

              @media only screen and (max-width: 992px) {
                width: auto;
              }
            }

          }
          .phone-info {
            color: #00325b;

            @media only screen and (max-width: 992px) {
              text-align: center;
            }
            .info-heading {
              margin-top: 0;
              font-size: 20px;
              font-weight: 600;
              color: #00325b;
              margin-bottom: 10px;
            }
          }
        }

        .contact-template-mail {
          display: flex;
          gap: 20px;
          max-width: 90%;

          &.no-col-2-item {
            max-width: 100% !important;
            flex: 45%;
          }

          @media only screen and (max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .contact-template-icon {
            font-size: 32px;
            color: #00325b;

            i {
              width: 50px;

              @media only screen and (max-width: 992px) {
                width: auto;
              }
            }

          }
          .mail-info {
            color: #00325b;
            @media only screen and (max-width: 992px) {
              text-align: center;
            }
            .info-heading {
              margin-top: 0;
              font-size: 20px;
              font-weight: 600;
              color: #00325b;
              margin-bottom: 10px;
            }
          }
        }
        .contact-template-warning {
          display: flex;
          gap: 20px;
          max-width: 90%;

          &.no-col-2-item {
            max-width: 100% !important;
            flex: 45%;
          }

          @media only screen and (max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .contact-template-icon {
            font-size: 32px;
            color: #00325b;

            i {
              width: 50px;

              @media only screen and (max-width: 992px) {
                width: auto;
              }
            }

          }
          .warning-info {
            color: #00325b;
            @media only screen and (max-width: 992px) {
              text-align: center;
            }
            .info-heading {
              margin-top: 0;
              font-size: 20px;
              font-weight: 600;
              color: #00325b;
              margin-bottom: 10px;
            }

            p, h1, h2, h3, h4, h5, h6, span {
              color: #00325b;
            }
          }
        }
        .contact-template-person {
          display: flex;
          gap: 20px;
          max-width: 90%;

          &.no-col-2-item {
            max-width: 100% !important;
            flex: 45%;
          }

          @media only screen and (max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .contact-template-icon {
            font-size: 32px;
            color: #00325b;

            i {
              width: 50px;

              @media only screen and (max-width: 992px) {
                width: auto;
              }
            }

          }
          .contact-person-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            @media only screen and (max-width: 992px) {
              text-align: center;
            }
            .contact-person-heading {
              .field--name-field-os2web-contact-heading {
                h2 {
                  margin-top: 0;
                  font-size: 20px;
                  font-weight: 600;
                  color: #00325b;
                  margin-bottom: 10px;
                }
              }
            }
            .contact-person-name {
              display: flex;
              gap: 5px;
              font-weight: 600;
              color: #00335b;

              @media only screen and (max-width: 992px) {
                justify-content: center;
                align-items: center;
              }
            }
            .contact-person-job {
              .job-title {
                font-weight: 600;
                color: #00335b;


              }
              .job-task {
                font-style: italic;
                color: #00335b;
              }
            }
            .contact-person-email {
              display: flex;
              gap: 10px;
              color: #00335b;

              span {
                font-weight: 600;
              }
              @media only screen and (max-width: 992px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
            .contact-person-phone {
              display: flex;
              gap: 10px;
              color: #00335b;

              span {
                font-weight: 600;
              }
            }
          }
        }


      }

      .contact-col-2 {
        width: 30%;
        display: flex;
        gap: 35px;
        flex-direction: column;

        @media only screen and (max-width: 992px) {
          width: 100%;
        }
        .opening-hours {
          .info-heading {
            margin-top: 0;
            font-size: 20px;
            font-weight: 600;
            color: #00325b;
            margin-bottom: 10px;
          }
          .opening-hours-days {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .monday, .tuesday, .wednesday, .thursday, .friday {
              display: flex;
              color: #00325b;

              .day {
                width: 120px;
              }
            }
          }
        }
        .phone-opening-hours {
          .info-heading {
            margin-top: 0;
            font-size: 20px;
            font-weight: 600;
            color: #00325b;
            margin-bottom: 10px;
          }
          .phone-opening-hours-days {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .monday, .tuesday, .wednesday, .thursday, .friday {
              display: flex;
              color: #00325b;

              .day {
                width: 120px;
              }
            }
          }
        }
      }

    }
  }
}


.contact-section-hearings {
  margin: 80px 0;
}
