.cta-section-wrapper {
  width: 100%;
  background-color: #00325b;
  margin-bottom: 80px;

  .container {
    padding-top: 30px;
    padding-bottom: 30px;

    .cta-inner-wrapper {

    .cta-heading {
      h2 {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
      .cta-btn-content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;

        .cta-link {
          background-color: white;
          color: black;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;

          &:hover .cta-link-content .cta-link-upper-text {
            transform: translateX(-10px);
          }

          .cta-link-content {
            padding: 10px 30px;

            .cta-link-upper-text {
              font-weight: 600;
              transition: .3s ease;
            }
          }
          &:hover:not(.ext):after {
            opacity: 1;
          }
          &.ext:hover:after {
            opacity: 1;
          }
          &:not(.ext):after {
            content: '\f061';
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-size: 18px;
            position: absolute;
            transition: .3s ease;
            opacity: 0;
          }
          &.ext:after {
            content: '\f35d';
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-family: "FontAwesome";
            font-size: 18px;
            position: absolute;
            transition: .3s ease;
            opacity: 0;
          }

        }
        .toggle-btn {
          background-color: transparent;
          border: none;
          color: white;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.single-cta-button-outer-wrapper {
  margin: 15px 0;
}
.single-cta-button-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

  .single-cta-link {
    text-decoration: none;
    text-transform: uppercase;

    &:hover .single-cta-link-content .single-cta-link-bottom-text i {
      opacity: 1;
      transform: translateX(0);
    }
    &:hover .single-cta-link-content .single-cta-link-upper-text i {
      opacity: 1;
      transform: translateX(0);
    }
    .single-cta-link-content {
      padding: 10px 25px;

      .single-cta-link-upper-text {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          opacity: 0;
          transform: translateX(-10px);
          transition: .3s ease;
        }
      }
      .single-cta-link-bottom-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          opacity: 0;
          transform: translateX(-10px);
          transition: .3s ease;
        }
      }
    }

  }

}
