.view-display-id-embed_1 {
  .view-header {
    background-color: #e3e3e3;
    padding: 5px;
    border-bottom: 2px solid #c30a32;
    font-weight: 600;
    font-size: 2rem;
    color: #231f20;
    font-family: "Museo 300",sans-serif;
    margin-bottom: 5px;
  }
}
.block-views-blocknyheder-archive-block {

  @media only screen and (max-width: 768px) {
    margin-bottom: 55px;
  }

  .archive-block {
    .view-header {
      background-color: #e3e3e3;
      padding: 5px;
      border-bottom: 2px solid #c30a32;
      font-weight: 600;
      font-size: 2rem;
      color: #231f20;
      font-family: "Museo 300",sans-serif;
      margin-bottom: 5px;
    }
    .view-content {
      .item-list {
        .views-summary {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .before-element-top-22 {
            margin: 0;

            &:before {
              display: none;

            }

            a {
              text-decoration: none;
              text-transform: capitalize;
              padding: 0 !important;

              &:hover {
                text-decoration: underline;
              }
              &:before {
                content: '\f0da';
                display: inline-flex;
                align-items: center;
                margin-right: 10px;
                font-family: "FontAwesome";
                font-size: 20px;
                color: #c30a32;
              }
            }
          }
        }
      }
    }
  }
}

.nyhedsstream {
  .view-header {
    background-color: #e3e3e3;
    padding: 5px;
    border-bottom: 2px solid #c30a32;
    font-weight: 600;
    font-size: 2rem;
    color: #231f20;
    font-family: "Museo 300",sans-serif;
    margin-bottom: 5px;
  }
  .view-content {
    .views-row {
      display: flex;
      min-height: 150px;
      max-height: 200px;
      gap: 15px;
      border-bottom: 1px solid gray;

      @media only screen and (max-width: 640px) {
        flex-direction: column;
        max-height: none;
        min-height: auto;
      }


      &:first-of-type {
        padding: 10px 0 20px 0;
      }

      &:not(:first-of-type) {
        padding: 20px 0;
      }
      .views-field-field-os2web-news-primaryimage {
        width: 30%;
        display: flex;

        @media only screen and (max-width: 640px) {
          width: 100%;
        }

        .field-content {
          a {
            height: 100%;

            img {
              object-fit: cover;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
      .views-field-field-os2web-news-description {
        width: 70%;

        @media only screen and (max-width: 640px) {
          width: 100%;
        }

        .field-content {
          .nyhedsstream-content-wrapper {
            display: flex;
            flex-direction: column;

            a {
              color: #333;
              font-size: 1.8rem;
              text-decoration: none;
              padding: 0 !important;

              &:hover {
                text-decoration: underline;
              }

            }
            time {
              font-size: 1.3rem;
              font-family: Arial, Helvetica, sans-serif;
              margin: 5px 0;
            }

            .trimmed-desc {
              font-size: 16px;

              a {
                font-size: 16px;
              }
            }

            .more-link {
              a {
                text-decoration: none;
                color: #c30a32;
                font-size: 1.5rem;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}


.nyhedsstream {
  .view-content {
    .item-list {
      ul {
        width: 100%;
        max-width: none !important;
        li {
          margin: 0;
          display: flex;
          min-height: 150px;
          gap: 15px;
          border-bottom: 1px solid gray;

          @media only screen and (max-width: 640px) {
            min-height: auto;
            max-height: none;
            flex-direction: column;
          }

          &:not(:first-of-type) {
            padding: 20px 0;
          }

          &:first-of-type {
            padding: 10px 0 20px 0;
          }

          &:before {
            display: none;
          }

          .views-field-field-os2web-news-primaryimage {
            width: 30%;
            display: flex;

            @media only screen and (max-width: 640px) {
              width: 100%;
            }

            .field-content {
              a {
                height: 100%;

                img {
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px;
                }
              }
            }
          }
          .views-field-field-os2web-news-description {
            width: 70%;

            @media only screen and (max-width: 640px) {
              width: 100%;
            }

            .field-content {
              .nyhedsstream-content-wrapper {
                display: flex;
                flex-direction: column;

                a {
                  color: #333;
                  font-size: 1.8rem;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }

                }
                time {
                  font-size: 1.3rem;
                  font-family: Arial, Helvetica, sans-serif;
                  margin: 5px 0;
                }

                .trimmed-desc {
                  font-size: 16px;

                  a {
                    font-size: 16px;
                  }
                }

                .more-link {
                  a {
                    text-decoration: none;
                    color: #c30a32;
                    font-size: 1.5rem;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.midtpunktet-news-wrapper {
  .sidebar {
    .views-element-container {
      .sidebar-faellesnyheder {
        .view-header {
          background-color: #e3e3e3;
          padding: 5px;
          border-bottom: 2px solid #c30a32;
          font-weight: 600;
          font-size: 2rem;
          color: #231f20;
          font-family: "Museo 300", sans-serif;
          margin-bottom: 10px;
        }

        .view-content {
          ul {
            li {
              margin: 0;
              display: flex;
              align-items: center;
              border-bottom: 1px solid #ccc;

              &:before {
                content: '\f0da';
                position: unset;
                display: inline-flex;
                align-items: center;
                margin-right: 10px;
                font-family: "FontAwesome";
                font-size: 20px;
                color: #c30a32;

              }

              a {
                color: #000;
                text-decoration: none;
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-news-content {
    article {
      .node__content {
        .news-node-wrapper {
          .news-title-wrapper {
            span {
              background-color: #e3e3e3;
              padding: 5px;
              border-bottom: 2px solid #c30a32;
              font-weight: 600;
              font-size: 2rem;
              color: #231f20;
              font-family: "Museo 300",sans-serif;
              margin-bottom: 10px;
              display: flex;
              width: 100%;
            }
          }
          .image-news {
            margin: 15px 0;

            .field--name-field-os2web-news-primaryimage {
              img {
                border-radius: 5px;
              }
            }
          }
          .title-news {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;

            .field--name-field-os2web-news-heading {
              h1 {
                margin: 0;
                font-weight: 600;
                font-size: 4rem;
              }
            }
            .field--name-field-os2web-news-article-date {
              margin: 0;

              time {
                font-style: italic;
                font-family: Arial, Helvetica, sans-serif;
              }
            }
            .news-author {
              display: flex;
              align-items: center;
              font-family: Arial, Helvetica, sans-serif;
              font-style: italic;
              font-size: 13px;
              gap: 3px;
            }
          }
          .news-body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 15px 0;
            .news-intro {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
