.view-recently-read-content {
  .view-content {
    .views-row {
      border: 1px solid gray;

      &:not(:first-child) {
        padding: 20px 0;
      }

      &:first-child {
        padding: 10px 0 20px 0;
      }

      .views-field-title {
        .field-content {
          a {
            color: black;
            font-family: Arial;
            text-decoration: none;
            position: relative;

            &:after {
              position: absolute;
              right: 20px;
              transition: .3s ease;
              top: 50%;
              transform: translateY(-50%);
              content: '\f054';
            }

            &:hover {
              text-decoration: underline;
            }

            &:hover:after {
              right: 0;
            }
          }
        }
      }
    }
  }
}
