.paragraph--type--organic-groups {
  margin-bottom: 50px;
  .field__item {
    .viewsreference--view-title {
      border-bottom: 2px solid #c30a32;
      padding: 5px;
      background-color: #e3e3e3;
      font-family: "Museo 300", Arial;
      font-weight: 600;
      font-size: 2rem;
      color: #333;
      margin-bottom: 10px;
    }
    .views-element-container {
      .view-organic-groups {
        border: 1px solid #ccc;
        .view-content {

          .views-row {
            padding: 4px 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .group-name-title {
              flex-basis: 75%;
              color: #333;
              font-size: 14px;
              text-decoration: none;
              font-family: Arial;

              &:hover {
                text-decoration: underline;
                color: #c30a32;
              }
            }

            .unsubscribe-group-btn {
              background-color: #ef9494;
              color: white;
              padding: 8px 16px;
              border-radius: 3px;
              text-decoration: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-basis: 25%;
              transition: .3s;
              text-shadow: 1px 1px 2px black;

              &:hover {
                background-color: #b87272 !important;
              }
            }

            .subscribe-group-btn {
              background-color: #64ea8c;
              color: white;
              padding: 8px 16px;
              border-radius: 3px;
              text-decoration: none !important;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-basis: 25%;
              transition: .3s;
              text-shadow: 1px 1px 2px black;

              &:hover {
                background-color: #4eba6e !important;
              }
            }

            &:nth-child(odd) {
              background-color: white;
            }
            &:nth-child(even) {
              background-color: #F1F5FA;
            }

            &:hover {
              background-color: #FFFEEE;
            }

            .views-field-title-1, .views-field-title {
              .field-content {
                a {
                  color: #333;
                  font-size: 14px;
                  text-decoration: none;
                  font-family: Arial;

                  &:hover {
                    text-decoration: underline;
                    color: #c30a32;
                  }
                }
              }
            }

            &:not(:last-child) {
              border-bottom: 1px solid #ccc;
            }
          }
        }
      }
    }
  }
}


#block-views-block-tilfoej-indhold-menu-block-3 {
  background-color: #eee;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  h2 {
    border-bottom: 1px solid #c30a32;
    padding: 2px 0 0 6px;
    background-color: #f5f5f5;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
  }
}

#block-views-block-tilfoej-indhold-menu-block-1-2, #block-views-block-tilfoej-indhold-menu-block-2 {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: none;
  h2 {
    border-bottom: 1px solid #c30a32;
    padding: 2px 0 0 6px;
    background-color: #f5f5f5;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
  }

  .view-content {
    .views-row {
      margin: 0;
      display: flex;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      flex-direction: column;

      .views-field-title {
        .field-content {
          a {
            color: #000;
            text-decoration: none;
            font-size: 14px;
            font-family: Arial,Helvetica,sans-serif;
            font-weight: 500;
            display: inline-block;


            &:hover {
              text-decoration: underline;
            }

            &:before {
              content: '\f0da';
              position: unset;
              display: inline-block;
              align-items: center;
              margin-right: 10px;
              font-family: "FontAwesome";
              font-size: 20px;
              color: #c30a32;
            }
          }
        }
      }
    }
  }
}

#block-views-block-tilfoej-indhold-menu-block-4 {
  h2 {
    border-bottom: 1px solid #c30a32;
    padding: 2px 0 0 6px;
    background-color: #f5f5f5;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.4rem;
  }

  .view-content {
    .views-row {
      padding: 20px 10px;
      &:nth-child(even) {
        background-color: #F1F5FA;

        &:hover {
          background-color: #FFFEEE;
        }
      }
      .views-field-title {
        .field-content {
          a {
            padding: 0 !important;
            color: #333;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
          }
        }
      }
    }
  }
}
