$background_color__default: #ebebec;

$background_color__primary: #feffff;
$background_color__secondary: #eae3c0;
$background_color__tertiary: #066cc5;

$background_color__navigation: #fffeff;
$background_color__footer_primary: #d1d3d4;

// $background_color__footer_secondary: ;
$background_color__button: #c30a32;
$background_color__button_hover: #e6032f;


$color__link: #c40a32;
$color__link__hover: #333333;

$color__link_footer: #333334;
$color__bullets: #333433;




div[data-drupal-messages] {
  display: none;
}

$gray-primary: #E6E3E1;
$blue-primary: #295d6f;
$gray-secondary: #F4F4F4;
$gray-tertiary: #e1e5e5;

$gray-helper: #eceae8;
$gray-helper-color: #6c6c6c;
$gray-helper-bg: #eeeeee;
$gray-helper-border: #dddddd;
