// |--------------------------------------------------------------------------
// | Custom skeleton
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | Custom skeleton from old site

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.row-no-flex {
  margin: 0;
  width: 100%;
  .sideblock-venstre {
    width: 100%;
    float: none;
    display: block;
  }
  .hovedindhold-hojre {
    width: 100%;
    float: none;
    display: block;
  }
  .hovedindhold-venstre {
    width: 100%;
    float: none;
    display: block;
  }
  .sideblock-hojre {
    width: 100%;
    float: none;
    display: block;
  }
}
// don't know who added this, but it breaks the responsive part on mobile
// body {
//  flex-direction: unset;
//}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {
  // don't know who added this, but it breaks the responsive part on mobile
  // body {
  //  flex-direction: column !important;
  // } */
  .row-no-flex {
    .sideblock-venstre {
      width: 32.45%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      display: inline;
    }
    .hovedindhold-hojre {
      width: 58.94%;
      float: right;
      margin-left: 1.52905%;
      margin-right: 0;
      display: inline;
    }
    .hovedindhold-venstre {
      width: 58.94%;
      float: left;
      margin-left: 0;
      margin-right: 1.52905%;
      display: inline;
    }
    .sideblock-hojre {
      min-width: 320px;
      width: 58.94%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      display: inline;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {
  .row-no-flex {
    .sideblock-hojre {
      min-width: 320px;
      width: 32.45%;
      float: right;
      margin-left: auto;
      margin-right: 0;
      display: inline;
    }
  }
}

// Print
@media print {
  .hovedindhold-venstre {
    width: 100%!important;
  }
}
// Touch
.touchevents {}

// No touch
.no-touchevents {}


