// |--------------------------------------------------------------------------
// | Typography
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .typography
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin typography-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------
html {
  font-family: $font-family;
  line-height: $base-line-height;
}
* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
html body {
  line-height: $base-line-height;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 30px;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: $color-text;
  line-height: 1.1;
  + p,
  + .body-text {
    margin-top: 0;
  }
}

h1, .h1 {
  font-weight: $font-weight-semibold;
}
h2, .h2 {
  font-weight: 400;
  font-size: 22px;
  @include media($sm) {
    font-size: 23px;
  };
  @include media($md) {
    font-size: 28px;
  };
}

h2, .h2,
h3, .h3 {
  margin-bottom: 10px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 4px;
}

p, .body-text, .body-copy-text {
  font-size: inherit;
}

p, .body-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.field--name-field-os2web-page-heading {
  h1 {
    margin: 0;

    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: #00315b;
    @include media-breakpoint-up(sm) {
      $shift-side: 26px;
      padding: 0 $shift-side 26px;
      font-size: 3.2rem;
      margin-left: -($shift-side);
      margin-right: -($shift-side);
    }
  }
}

.field--name-field-os2web-page-description {

  margin-bottom: 80px;

  * {
    color: #00335B !important;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  p, .body-text, .body-copy-text,
  body {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
