.layout-content.node--type-os2web-event-wrapper {
    padding: 0;

  .region-content {
    padding: 0;
  }
}
.node--type-os2web-event {
  .field--name-field-os2web-evnet-image {
    img {
      display: block;
      object-fit: cover;
    }
  }
  .field--type-datetime {
    display: inline;
  }
  .node__content {
    padding: 30px;

    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
}
