
.webdav-file-link {
  display: block;
  height: 46px;
  border-top: 1px solid lightgrey;
  cursor: default;
}

.webdav-buttons {
  float: right;
}

.webdav-button {
  width: 46px;
  height: 46px;
  background-color: cadetblue;
  display: inline-flex;
  margin-left: 2px;
  cursor: pointer;
}

.webdav-button.webdav-download {
  background-image: url('/modules/custom/bc_webdav/images/download-24.png');
  background-repeat: no-repeat;
  background-position: center;
}

.webdav-button.webdav-view {
  background-image: url('/modules/custom/bc_webdav/images/view-24.png');
  background-repeat: no-repeat;
  background-position: center;
}

.webdav-button.webdav-edit {
  background-image: url('/modules/custom/bc_webdav/images/edit-24.png');
  background-repeat: no-repeat;
  background-position: center;
}

.webdav-button.webdav-history {
  background-image: url('/modules/custom/bc_webdav/images/history-24.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 399; /* Lower than the overlay */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95vw;
  max-width: 500px;
  max-height: 95vh;
  z-index: 401; /* Higher than the overlay */
  position: relative;
  border: 2px solid black;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Overlay */
.modal-overlay {
  display: none;
  position: fixed;
  z-index: 400; /* Higher than the modal content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

