@import "fonts";
@import "mixins/loader";
@import "variables/loader";
@import "vendor";

@import "overrides/loader";
@import "theme/loader";

.embedded-entity {
  line-height: 0 !important;
}

.embedded-entity.align-left {
  padding-right: 10px;
}

.embedded-entity.align-right {
  padding-left: 10px;
}

