.breaking-news-wrapper {
  position: fixed;
  z-index: 300;

  .breaking-news {
    background: linear-gradient(45deg, #fad643 49.5%, #f3cd3a 49.5%, #f3cd3a 50.5%, #edc531 50.5%);
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 400px;
    min-width: 300px;
    border: 1px solid white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity .5s, transform .5s, visibility 0s, linear .5s;
    display: none;

    @media only screen and (max-width: 768px) {
      max-width: 300px;
    }

    .dismiss-bn-btn {
      position: absolute;
      right: 5px;
      top: 5px;

      button {
        min-width: 0 !important;
        min-height: 0 !important;
        background-color: transparent;
        border: none;
      }

    }
    .region-breaking-news {
      .views-element-container {
          .view-breaking-news {
            .view-content {
              .views-row {
                .views-field-field-breaking-news-heading {
                  .field-content {
                    font-family: "Museo 300", sans-serif;
                    font-size: 24px;
                    color: #000;
                    font-weight: 600;
                    margin-bottom: 10px;
                    max-width: 90%;
                  }
                }
                .views-field-field-breaking-news-link {
                  .field-content {
                    a {
                      color: white;
                      background-color: #333;
                      border-radius: 5px;
                      padding: 5px 12px;
                      text-decoration: none;
                      transition: .3s;

                      &:hover {
                        background-color: black;
                      }
                    }
                  }
                }
              }
            }
          }




      }
    }
    &.breaking-news-visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: opacity .5s, transform .5s;
      display: block;
    }
  }
  #show-breaking-news {
    border-radius: 0px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #fad643;
    border: 0;
    min-height: 0 !important;
    min-width: 0 !important;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    top: 0;
    left: 0;

    &.show-breaking-news-visible {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
