.entity-default--os2web-spotbox-reference {
	padding: 45px 4px;
	.tns-outer {
		overflow: hidden;
		margin: 0;
		#tns1-iw {
			margin: 0 -5px;
		}
		.tns-nav {
			display: none;
		  }
		.tns-controls {
			button[data-controls="next"] {
				background: transparent url("../images/sprite.png") no-repeat -159px 0/285px;
				position: absolute;
				color: transparent;
				right: 0;
				top: 45%;
				margin-top: -34px;
				width: 38px;
				height: 70px;
				cursor: pointer;
				border-radius: 0;
				&::before {
					display: none;
				}
			}
			button[data-controls="prev"] {
				background: transparent url("../images/sprite.png") no-repeat -190px 0/285px;
				position: absolute;
				color: transparent;
				left: 0;
				top: 45%;
				margin-top: -34px;
				width: 38px;
				height: 70px;
				cursor: pointer;
				border-radius: 0;
				&::before {
					display: none;
				}
			}
		}
	}
}

field--name-field-os2web-spotbox-reference > .tns-item {
	padding: 0 5px !important;
	position: relative;
}
.tns-item {
	&[aria-hidden="true"] {
		a {
			display: none;
		}
	}
}
.field--name-field-os2web-spotbox-heading h3::after {
	content: "";
	background: transparent url("../images/sprite.png") no-repeat -112px 0;
	display: block;
    visibility: hidden;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 15px;
	width: 18px;
	height: 45px;
}
.spotbox--image {
	padding-top: 0!important;
	padding-bottom: 0!important;
	.spotbox__content {
		padding: 0;
		justify-content: center;
		flex-direction: column;
		.spotbox__image {
			height: auto;
			display: block;
			img {
				display: block;
				width: 100%;
				height: auto;
				max-width: initial;
				object-fit: cover;
				background: $color-light-gray1;
			}
		}
	}
	&::after {
		display: none;
	}
}
.field--name-field-os2web-spotbox-reference {
	display: flex;
	> .field__item {
		margin: 0;
	}
}
.spotbox {
	height: 100%;
	box-shadow: none;
	&, &:visited {
		background-color: $background_color__button;
	}
	&:hover, &:focus {
		background-color: $color-white;
		.field--name-field-os2web-spotbox-heading h3 {
			color: $background_color__button;

        &::after {
          visibility: visible !important;
        }
		}
	}
	&, &:hover, &:focus, &:visited {
		outline-color: $background_color__button;
		outline-offset: -2px;
  	}
	.field--name-title,
	.field--name-field-os2web-spotbox-heading {
		h1, h2, h3, h4, h5, h6 {
			color: $color-white;
			margin-right: 19px;
			font-size: 2.2rem !important;
			font-family: "MuseoSans", sans-serif;
			font-weight: normal;
		}
	}
}
.field--name-field-os2web-spotbox-heading {
	position: relative;
	padding: 20px 15px;
}
@media screen and (min-width: 576px) {
	.spotbox--image .spotbox__content {
		height: 100%;
		display: block;
		.spotbox__image img {
			height: auto;
		}
	}
}
@media screen and (min-width: 768px) {
	.field--name-field-os2web-spotbox-heading h3::after {
		top: 20px;
		transform: none;
	}
}
