
// |--------------------------------------------------------------------------
// | Misc
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.events-show-all-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .events-show-all {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    color: $background_color__button;
    font-family: "Museo 300", sans-serif;
    transition: .2s ease;

    &:hover {
      color: #96c31e;
    }

    span {
      margin-right: 10px;
    }
    .fa-chevron-right {
      font-size: 12px;
    }
  }
}

// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.skip-link {
  color: $color-text;
}

// Accessibility overrides.
button,
body a {

  &:focus {
    outline-width: 2px;
  }
}

//.paragraph a,
//.region-content a,
//.breadcrumb a {
//
//  &:focus {
//    outline-width: 2px;
//  }
//}

body {

  ol {

    > li {
      list-style-type: decimal;
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.fields-inline {

  > .field {
    display: inline-block;
  }
}

//.ext {
//  display: none;
//}

body .page-container {
  background: $background_color__default;
  padding-top: 0;
}

.layout-sidebar-right {
  padding-top: $grid-gutter-width;

  .os2web_contact {

    .field {

      + .field {
        margin-top: 2.8rem; // Same distance as between <p> <p>
      }
    }
  }

  > .box {

    > .box__body {
      padding-top: 0;
      padding-bottom: 0;

      > .region {

        > * {

          &:first-child {
            padding-top: 30px;
          }
          &:last-child {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

.button--primary {

  &, &:hover, &:focus {
    font-weight: $font-weight-bold;

    color: #fff;
    background-color: $color-orange-004;
  }
}

.button--rounded {
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 30px;
}

.background-color--primary {
  background-color: $background_color__primary !important;
}
.background-color--secondary {
  background-color: $background_color__secondary !important;
}
.background-color--tertiary {
  background-color: $background_color__tertiary !important;
}


.node--unpublished {
  background-color: transparent;
}
// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .layout-sidebar-right {
    padding-top: 0;
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  body .page-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
