// |--------------------------------------------------------------------------
// | EU cookie compliance
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .eu-cookie-compliance-banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin eu-cookie-compliance-banner-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

#sliding-popup {
  background-color: rgba(255, 255, 255, 0.9);
  color: $color-black;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  .eu-cookie-withdraw-tab {
    background: $color-dark-gray2;
    border: none;
    padding: 10px 12px;
    color: $color-white;
    left: 0;
    transform: translate(0%, -100%);
  }
  .eu-cookie-withdraw-button {
    background: $color-primary;
    border: none;
    padding: 10px 12px;
    color: $color-white;
  }
}
.eu-cookie-compliance-banner {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  padding: 45px 0 18px;

  background-color: rgba(255, 255, 255, 0.9);
  color: $color-black;

  p, h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  h2 {
    font-size: 2.4rem;
    font-family: "Museo 500", sans-serif;
    // font-weight: 500;
    margin-bottom: 2.4rem;
    color: $color-dark-gray2;
    line-height: 1;
  }

  &,
  p {
    font-size: $base-font-size;
  }

  .inline-list {
    li { 
      display: inline-block;
      margin-top: 1.6rem;
      & + li {
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }

  .field--type-link {
    margin-top: 2rem;
  }

  .button {
    background-color: $color-primary;
    color: $color-white;
    border: 4px solid $color-primary;
    &:hover, &:focus {
      outline-color: $color-black;
      outline-width: 4px;
      outline-offset: -2px;
      border: 4px solid $color-black;
      background-color: $color-primary;
    }
  }

  button {
    padding: 0.6em 0.7em;
    border: 4px solid $color-primary;
    border-radius: 0;
    font-size: 1.6rem;
    line-height: inherit;
    font-weight: initial;
    background-color: $color-primary;
    color: $color-white;
    &:hover, &:focus {
      outline-color: $color-black;
      outline-width: 4px;
      outline-offset: -2px;
      border: 4px solid $color-black;
    }
  }

  .find-more-button {
    margin: 0 16px;
    &::after {
      display: none;
    }
  }
  a {
    color: $color-dark-gray2;
    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .eu-cookie-compliance-banner {

    [class*="col-"] {
      display: flex;

      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }

    .field--type-link {
      margin-left: -1.5rem;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {
  #sliding-popup {
    display: none !important;
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
