.quickedit {
    .quickedit-toolbar-content {
        & > .quickedit-toolbar.icon.icon-pencil {
            width: 100%;
            height: auto;
            background-size: auto;
            background-position-y: center;
            &::before {
                display: none;
            }
            .quickedit-toolgroup {
                order: 2;
                margin-left: auto;
                .action-save {
                    width: unset;
                    height: unset;
                }
                .action-cancel.icon-close {
                    background-image: none;
                }
            }
        }
    }
}

.quickedit-discard-modal {
    .ui-dialog-buttonset {
        .ui-button.ui-corner-all.ui-widget.button:not(.button--primary) {
            border: 1px solid transparent;
            color: black;
        }
    }
}
.quickedit-form-container {
    a.tabledrag-handle .handle {
        background-size: contain!important;
        background-position: center!important;
        margin: 0;
    }
}