.paragraph--type--os2web-2-columns-uneven {
  .row {
    .column-1 {
      padding-left: 0;
    }
    .column-2 {
      padding-right: 0;
    }
  }
}

.paragraph--type--os2web-2-columns {
  .row {
    .column-1 {
      padding-left: 0;
    }
    .column-2 {
      padding-right: 0;
    }
  }
}
