.custom-link-list-wrapper {
  margin-bottom: 50px;

  .link-list-header {
    h2 {
      background-color: #e3e3e3;
      padding: 5px;
      border-bottom: 2px solid #333;
      font-weight: 600;
      font-size: 2rem;
      color: #231f20;
      font-family: "Museo 300", sans-serif;
      margin-bottom: 10px;
      line-height: 2.4rem;
      margin-top: 0;
    }
  }

  .custom-link-list {
    margin: 0;

    .field--name-field-os2web-link-list-link {
      .field__item {
        margin: 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;

        &:before {
          content: '\f0da';
          position: unset;
          display: inline-flex;
          align-items: center;
          margin-right: 10px;
          font-family: "FontAwesome";
          font-size: 20px;
          color: #333;

        }


        a {
          color: #000;
          text-decoration: none;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }

        }
      }
    }
  }

}
