@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans.eot');
  src: url('../fonts/MuseoSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans.woff') format('woff'),
  url('../fonts/MuseoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo 100';
  src: url('../fonts/Museo100-Regular.eot');
  src: url('../fonts/Museo100-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo100-Regular.woff') format('woff'),
  url('../fonts/Museo100-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo 300';
  src: url('../fonts/Museo300-Regular.eot');
  src: url('../fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo300-Regular.woff') format('woff'),
  url('../fonts/Museo300-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo 500';
  src: url('../fonts/Museo500-Regular.eot');
  src: url('../fonts/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo500-Regular.woff') format('woff'),
  url('../fonts/Museo500-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo 700';
  src: url('../fonts/Museo-700.eot');
  src: url('../fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo-700.woff') format('woff'),
  url('../fonts/Museo-700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo 900';
  src: url('../fonts/Museo900-Regular.eot');
  src: url('../fonts/Museo900-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo900-Regular.woff') format('woff'),
  url('../fonts/Museo900-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}