
.flags-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.flag-bookmarks a, .flag-shortcut a, .flag-unread a {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  padding: 5px 12px;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  transition: .3s;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: 15px 0;
  border-radius: 5px;
}

.flag-bookmarks .ajax-progress, .flag-shortcut .ajax-progress, .flag-unread .ajax-progress {
  display: none;
}

.flag-bookmarks a:hover, .flag-shortcut a:hover, .flag-unread a:hover {
  background-color: black;
  color: white;
}

.flag-bookmarks a:focus, .flag-shortcut a:focus, .flag-unread a:focus {
  background-color: black;
  color: white;
}

.flag-bookmarks a:before {
  content: '\f005';
  font-family: FontAwesome;
  margin-right: 5px;
}

.flag-shortcut a:before {
  content: '\f14d';
  font-family: FontAwesome;
  margin-right: 5px;
}

.flag-unread a:before {
  content: '\f0f3';
  font-family: FontAwesome;
  margin-right: 5px;
}


div.flag-sidebar-block {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

div.flag-sidebar-block img {
  width: 25px;
}

div.flag-sidebar-block ul li {
  padding: 0px !important;
  margin: 0 !important;
}

div.flag-sidebar-block ul li:before {
  content: none !important;
}

.sidebar-block {
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar-block.sidebar-bookmark { display: flex; }

.sidebar-block .sidebar-bookmark-list,
.sidebar-block .sidebar-shortcut-list,
.sidebar-block .sidebar-unread-list {
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0;
  width: 220px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.sidebar-block:hover .sidebar-bookmark-list,
.sidebar-block:hover .sidebar-shortcut-list,
.sidebar-block:hover .sidebar-unread-list {
  max-height: 315px;
}

.sidebar-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 250px;
}


.sidebar-bookmark-icon,
.sidebar-shortcut-icon,
.sidebar-unread-icon {
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-bookmark-icon, .sidebar-shortcut-icon, .sidebar-unread-icon i {
  font-size: 26px;
  font-family: "FontAwesome";
  font-style: normal;
}

.headline {
  font-weight: bold;
  padding: 14px 10px;
  height: 50px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headline span {
  padding: 0px 3px 0px 3px;
}

.sidebar-bookmark-icon {
  background-color: #EDCD19;
}

.sidebar-shortcut-icon {
  background-color: #0CBED2;
}

.sidebar-unread-icon {
  background-color: #adadad;
}

.sidebar-bookmark-list {
  background-color: #ffffc8;
}

.sidebar-shortcut-list {
  background-color: #CCEFF3;
}

.sidebar-unread-list {
  background-color: #eee;
}



.shortcut-item-link {
  padding: 4px 10px;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #333;
  text-decoration: none;
}

.shortcut-item-link:hover {
  background: rgba(255,255,255,0.6);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.bookmark-item-link {
  padding: 4px 10px;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #333;
  text-decoration: none;
}

.bookmark-item-link:hover {
  background: rgba(255,255,255,0.6);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.unread-item-link {
  padding: 4px 10px;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #333;
  text-decoration: none;
}

.unread-item-link:hover{
  background: rgba(255,255,255,0.6);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: -0.3px;
}

@media only screen and (max-width: 740px) {
  .sidebar-bookmark-icon,
  .sidebar-shortcut-icon,
  .sidebar-unread-icon {
    width: 45px;
    height: 45px;
  }
  .sidebar-bookmark-icon,
  .sidebar-shortcut-icon,
  .sidebar-unread-icon i {
    font-size: 18px;
  }
  .headline {
    height: 45px;
  }
}
